:root {
    --color-background: #000000;
    --color-background2: #303030;
    --color-primary: rgba(255,212,43,1);
    --color-primarydark: rgba(170,140,30,1);
    --color-secondary: #eeeeee;
    --rgb-rlow: 220;
    --rgb-rhigh: 120;
    --rgb-glow: 120;
    --rgb-ghigh: 220;
    --rgb-blow: 42;
    --rgb-bhigh: 42;
}

body {
    height: 100 vh;
    width: 100 vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-background);
    color: var(--color-secondary);
}

#graph {
    width: 100%;
    height: 100%;
}

.vis-network .vis-tooltip {
    background-color: var(--color-background2);
    color: var(--color-secondary);
    border: none;
    border-radius: 1em;
    padding: 0em 0.7em 0em 0.7em;
}

.menu-container {
    position: fixed;
    top: 2em;
    left: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    background: var(--color-background2);
    transition: top 0.3s ease, left 0.3s ease, padding 0.3s ease, border-radius 0.3s ease, width 0.3s ease, height 0.3s ease;

    --color-inputUnselected: #363636;
    --color-inputSelected: #242424;
    --color-inputHover: #333333;
    --color-foregroundUnselected: #909090;
}

.menu-container.open {
    top: 1.5em;
    left: 1em;
    padding: 0.5em;
    border-radius: 1em;
    width: 250px;
    height: 180px;
}

.menu-button {
    background: var(--color-background2);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.6em;
    height: 2.6em;
}

.menu-container > :nth-child(n+2) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.menu-container.open > :nth-child(n+2) {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s 0s;
}

.bar {
    width: 100%;
    height: 0.2em;
    border-radius: 0.2em;
    background-color: var(--color-secondary);
    transition: transform 0.3s ease;
}
  
.bar1 {
    transform-origin: top left;
}
  
.bar2 {
    transform-origin: center;
}
  
.bar3 {
    transform-origin: bottom right;
}
  
.menu-button.open .bar1 {
    transform: rotate(90deg) translateY(-0.2em);
}
  
.menu-button.open .bar2 {
    transform: rotate(90deg);
}
  
.menu-button.open .bar3 {
    transform: rotate(90deg) translateY(0.2em);
}  

.menu-container .menu-container-div {
    display: flex;
    margin: 1em 1.5em 0em 1.5em;
}

.menu-container div input[type='radio'], 
.menu-container div input[type='checkbox'] {
    display: none;
}

.menu-container div label:first-of-type {
    border-right: 2px solid var(--color-foregroundUnselected);
}

.menu-container div label:first-of-type span {
    border-radius: 0.3em 0em 0em 0.3em;
}

.menu-container div label:nth-of-type(2) span {
    border-radius: 0em 0.3em 0.3em 0em;
}

.menu-container div label {
    padding: 0em;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--color-foregroundUnselected);
    text-align: center;
    cursor: pointer;
}

.menu-container div label span {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: oblique;
}

.menu-container div input[type='radio'] + span,
.menu-container div input[type='checkbox'] + span {
    background-color: var(--color-inputUnselected);
}

.menu-container div input[type='radio']:hover + span {
    background-color: var(--color-inputHover);
    color: var(--color-secondary)
}

.menu-container div input[type='checkbox']:hover + span {
    color: var(--color-secondary);
}

.menu-container div input[type='radio']:checked + span {
    background-color: var(--color-inputSelected);
    color: var(--color-secondary)
}

.menu-container div input[type='checkbox']:checked + span {
    background-color: var(--color-inputSelected);
}

.value-display {
    margin: 0.15em 0.75em 0em 0.75em;
    font-size: 1.2em;
    width: 3.5em;
}

.interactions-filter {
    display: block;
    margin: auto;
    margin-top: 1em;
    appearance: none;
    background-color: transparent;
    border-radius: 1em;
    transition: background 0.3s ease;
    width: 15em;
}

.interactions-filter::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    margin-top: -0.65em;
    margin-bottom: -0.65em;
    background-color: var(--color-primarydark);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.interactions-filter::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-primarydark);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.interactions-filter::-webkit-slider-runnable-track {
    border-radius: 0.75em;
    margin-top: 0.65em;
    margin-bottom: 0.65em;
    height: 0.2em;
    background: linear-gradient(
        to right, 
        var(--color-primary) 0%, 
        var(--color-primary) var(--slider-progress), 
        var(--color-secondary) var(--slider-progress), 
        var(--color-secondary) 100%
    );
}

.interactions-filter::-moz-range-track {
    background-color: var(--color-secondary);
    height: 0.2em;
}

.interactions-filter::-moz-range-progress {
    background-color: var(--color-primary);
    height: 0.5em;
    border-radius: 0.4em 0em 0em 0.4em;
}

.interactions-filter.progress-max::-moz-range-progress {
    border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.submit-button {
    display: block;
    margin: 1em auto 1em auto;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--color-inputUnselected);
    color: var(--color-foregroundUnselected);
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--color-inputHover);
    color: var(--color-secondary)
}

.submit-button:active {
    background-color: var(--color-inputSelected);
    color: var(--color-secondary);
}
